.navbar
	input#showLinks(type="checkbox", name="showLinks")
	.logodiv 
		a.logo(href="/") Chat App
		label.hamburger(for="showLinks")
	.links
		.innerLink
			.link
				a(href="/") Home
			.link
				a(href="/login") Login
			.link
				a(href="/signup") Sign UP