.nav 
	.logoDiv
		h2.logo Chat App
		.hamburger
	ul.navul
		li.navli
			a(href="/loggedinHome") All Contacts
		li.navli 
			a(href="/addContact") Add new Contact
		li.navli 
			a(href="/logout") Logout
	
script(src="js/hamburgur.js")