<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/hamburger.css")
		link(rel="stylesheet", href="css/loggedinHome.css")
		link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css" ,integrity="sha512-QfDd74mlg8afgSqm3Vq2Q65e9b3xMhJB4GZ9OcHDVy1hZ6pqBJPWWnMsKDXM7NINoKqJANNGBuVRIpIJ5dogfA==", crossorigin="anonymous" )
		title Chat App
	body
		include ../partials/loggedinHamburger.pug
		.container
		.err
	script(src="js/fetchContacts.js")