<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Chat App #{name}
		link(rel="stylesheet", href="css/hamburger.css")
		link(rel="stylesheet", href="css/mainChat.css")
		link(rel="stylesheet", href="css/loading.css")
		link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" ,integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==", crossorigin="anonymous" )
	body
		include ../partials/loggedinHamburger.pug
		.animation
			.semi-circle Loading...
			.ball
			.ball2
		.container
		form.sendForm(autocomplete="off" enctype="multipart/form-data")
			i.paperclip.fas.fa-paperclip
			.modal.close
				.innerModal.close
					.animate
					i.cross.fas.fa-times
					input#file(type="file", name="file")
					label#filesLabel(for="file")
						i.upload.fas.fa-upload
						|Choose File...
					i.far.fa-paper-plane#send
							span Send
					.err
			textarea#ipMsg(name="msg", placeholder="Enter Your Message here" autofocus)
			i.sendLogo.fas.fa-paper-plane
	script(src="socket.io/socket.io.js")
	script(src="js/validator.js")
	script(src="js/mainChat.js")